@font-face {
  font-family: 'MyriadPro Regular';
  src: url('../fonts/MyriadPro/8143.otf');
}

@font-face {
  font-family: 'MyriadPro Semibold';
  src: url('../fonts/MyriadPro/8145.otf');
}

@font-face {
  font-family: 'MyriadPro Italic';
  src: url('../fonts/MyriadPro/MyriadItalic.ttf');
}