.footer {
  height: 150px;
  background-color: #777777;
}

.footer_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer_wrapper p {
  color: #FFFEFE;
  font-family: 'MyriadPro Regular';
  font-size: 24px;
}