.slider_wrapper {
  display: none;
}

.slider_wrapper h2 {
  font-family: 'MyriadPro Regular';
  color: #9DA3D7;
  margin: 25px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 710px) {
  .slider_wrapper {
    width: 708px;
    height: 407px;
    display: block;
  }
  
  .slider__container {
    max-width: 708px;
    position: relative;
    margin: auto;
    height: 288px;
    padding: 8px;
  
    -webkit-box-shadow: 0px 0px 10px 1px rgba(174,174,174,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(174,174,174,1);
    box-shadow: 0px 0px 10px 1px rgba(174,174,174,1);
  }
  
  .slides1,
  .slides2,
  .slides3 {
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
  }
  
  .slides1 {
    background-image: url("../images/slider1.png");
    background-position: center -150px;
  }
  .slides2 {
    background-image: url("../images/slider2.png");
    background-position: center -535px;
  }
  .slides3 {
    background-image: url("../images/slider3.png");
    background-position: center -395px;
  } 
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 95%;
    opacity: 0;
    padding: 8px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .slider__dots {
    text-align: center;
  }
  
  .slider__dots--dot {
  
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 50%;
    display: inline-block;
  
  }
  
  .active,
  .slider__dots--dot:hover {
    /* border: 5px double #ddd;
    background-color: #9da3d7;
    width: 26px;
    height: 26px; */

    transition: .2s ease-in;
    border: 5px solid #fff;
    background-color: #9da3d7;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(174,174,174,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(174,174,174,1);
    box-shadow: 0px 0px 0px 2px rgba(174,174,174,1);
    width: 24px;
    height: 24px;
  }
}

